<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="d03.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="emp">
      <div>
        Value of a is {{a}},
        but you can change
        <input type="text" ng-model="a"/><br>
        Value of b is {{b}}
        but you can change
        <input type="text" ng-model="b"/><br>
      </div>
      Sum={{sum}}<br>
      <button ng-click="doSum()">calculate</button>
    </div>

  </body>
</html>
